/*EN KOMMENTAR SER SÅDAN HER UD*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdf4e6;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.knap {
    font-family: 'Vast Shadow', cursive;
}

* {
    font-family: 'Roboto Slab', serif;
}

p {

    font-family: 'Libre Franklin', sans-serif;
}

h1 h2 h3 h4 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: #804844;
    text-align: center;
}

/*forsiden*/
.vid {
    width: 80%;
    margin: 25px 10px;
}

/*
.container {
    display: flex;
    background: #ccc;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.vid {
    width: 100%;
}

.c-video {
    width: 100%;
    max-width: 800px;
    position: relative;
}

.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
}

.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons button:before {
    content: '/f133';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #fff;

}
*/

.knap {
    border: none;
    background-color: #fec312;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    margin: auto;
    cursor: pointer;
    border-radius: 50px
}

.knap1 {
    box-shadow: 3px 3px lightgrey;

}

.knap1:hover {
    background-color: #fec312;
    color: white;
    opacity: 70%;
}

.forsideind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*menukort*/



.flex-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;


}

.menupunkt {
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-image: url("/images/tree.png");
    background-size: cover;

}

/* images/tree.png <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by kbza - www.freepik.com</a> */


/*nav*/
nav {
    background-color: #804844;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    margin-top: auto;

}


nav a {
    text-align: center;
    justify-content: space-around;
    margin: auto;
    text-decoration: none;
    color: #fdf4e6;
    height: 80%;
    width: 15%;
    z-index: 20;
    font-size: 1em;

}


.current {
    background-color: #fdf4e6;

}

/*dopup lavet med inspiration fra:https://www.w3schools.com/howto/howto_js_dropdown.asp*/
/* drop up knap */
.dropbtn {
    background-color: transparent;
    border: none;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    width: 20%;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropcontent {
    display: none;
    position: absolute;
    bottom: 70px;
    right: 0px;
    background-color: #804844;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 60;
}

/* Links inside the dropdown */
.dropcontent a {
    color: #fdf4e6;
    text-decoration: none;
    display: block;
}

.dropcontent h1 {
    color: #fdf4e6;
    text-align: left;
    margin-right: 20%
}

.dropcontent a {
    text-align: center;
    width: 70%;

}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #804844
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}





/*header*/
header {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    margin-top: 2%;
    z-index: -2;
}

.logo {
    width: 55%;
    margin-right: auto;
    margin-left: 3%;

}

#tele {
    display: flex;
    flex-direction: row;
    width: 11%;
    text-align: center;
}

#lokation {
    display: flex;
    flex-direction: row;
    width: 12%;
    text-align: center;
}








/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ...
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}
