l/*EN KOMMENTAR SER SÅDAN HER UD*/

* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdf4e6;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.knap, .frem, .tilbage {
    font-family: 'Vast Shadow', cursive;
}

* {
    font-family: 'Roboto Slab', serif;
}

p {

    font-family: 'Libre Franklin', sans-serif;
    padding: 0px 20px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
	text-decoration: none;
	color: #804844;
}

h1 {
    color: #804844;
    text-align: center;
}

h2 {
    color: #804844;
    text-align: center;
}


.video {
    width: 100%;
}

.videolap {
    display: none;
}


.vidcontain {
    position: relative;
    margin: auto;
    margin: 25px 0px;
    z-index: -1;
}

.playknap {
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;

}

.pauseknap {
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
}

.gem {
    display: none;
}

.vis {
    display: inline;
}

.forsidepics {
    display: none;
}

.laptopikoner {
    display: none;
}

.koedikonlaptop,
.menuikonlaptop,
.selskabikonlaptop,
.jubileumikonlaptop {
    display: none;
}






.forsideind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

/*Breadcrumb*/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
    color: #804844;
	opacity: 0.8;
}

ul.breadcrumb li {
    display: inline;
    font-size: 2vw;
	opacity: 0.8;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: #804844;
    content: "/\00a0";
	opacity: 0.8;
}

ul.breadcrumb li a {
    color: #804844;
    text-decoration: none;
	font-size: 2vw;
	opacity: 0.8;
}

ul.breadcrumb li a:hover {
    color: #fec312;
    text-decoration: none;


}


/* Kontakt underside */

.flexkasse{
	width: 80%;
	margin: auto;
	text-align: center;
}

.ugensdage {
    display: flex;
    flex-direction: column;
    color: #804844;
    padding-bottom: 5%;
    z-index: -1;

}

.todaysDay {
    color: #6754f5;
}



/*menukort*/

.flex-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menupunkt {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-image: url("/images/tree.png");
    background-size: cover;
    position: relative;
    z-index: 4;
}

/* images/tree.png <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by kbza - www.freepik.com</a> */

.menupunkt h3 {

    font-size: 4vw;
    padding-left: 3%;
    padding-top: 1%;

}

h3 {
    color: #fff;
}

.knapperne {

    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}

.frem, .tilbage, .knap1 {
    border: none;
    width: 30vw;
    background-color: #fec312;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    margin: auto;
    cursor: pointer;
    border-radius: 50px;
	box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.51);
	box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.51);
	
	
}

.knap1{
	min-width: 200px;
	max-width: 300px;
}



.knap1:hover {
    background-color: #fec312;
    color: white;
    opacity: 70%;
}

/* alt mad */

.mad {

    width: 40%;
    padding: 3%
}

.afhent {

    width: 18%;
    position: absolute;
    left: 35%;
    bottom: 5%;
}

.pris {

    color: #fff;
    position: absolute;
    right: 0%;
    top: 5%;
    font-size: 4.3vw;
    font-family: 'Roboto Slab', serif;
}

/* Underside - om kødet */

.flex {
    display: flex;
    flex-direction: row;
}

.flexbox-parent {
    display: flex;
    flex-direction: column;
}

.garanti {
    width: 45%;
}


/* Kurv */

.flex-container2 {
    width: 80%;
    margin: auto;
    background-size: cover;
    display: flex;
    background-image: url("tree.png");
	
}

.kurven {
    margin-bottom: 10px;
	width: 100%;
    padding: 5%;
	display: flex;
	justify-content: space-between;
	text-align: left;
	color: #fff;
}
.kurven h1{
	text-align: left;
	color: #fff;
}

.kurvpris h1{
	text-align:center;
}

.maengde, .kurvpris{
	width: 30%;
}

.produkt{
	width: 40%;
}


.current {
    background-color: #fdf4e6;

}



/*dopup lavet med inspiration fra:https://www.w3schools.com/howto/howto_js_dropdown.asp*/
/* drop up knap */
.dropbtn {
    background-color: transparent;
    border: none;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    width: 20%;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropcontent {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #fdf4e6;
    min-width: 160px;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 60;
}

/* Links inside the dropdown */
.dropcontent a {
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
}

.dropcontent a {
    color: #804844;
    text-align: center;
    margin: 5% 10%;
}

/* Change color of dropdown links on hover */
.dropcontent a:hover {
    background-color: #804844;
}

/* Change color of dropdown links on hover */
.dropcontent a:hover {
    color: #fdf4e6;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* plus og minus knapper og input */
.number {

   position: absolute;
    bottom: 30%;
    right: 0;
    width: 30%;
    z-index: 4;
}


.minus,
.plus {
      width: 25%;
    min-width: 20px;
    /* min-height: 30px; */
    border-radius: 50%;
    border: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    z-index: 100;
}

input {
    height: 10%;
    width: auto;
    text-align: center;
    font-size: 3vw;
    background-color: transparent;
    color: #fff;

    border: none;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}



.flex-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.menupunkt {
    width: 100%;
	min-height: 100px;
    height: 10%;
    margin-bottom: 20px;
    background-image: url("tree.png");
    background-size: cover;
    position: relative;
	box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.51);

}



/*header*/
header {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    z-index: -2;
}

.logo {
    width: 50%;
    margin-right: auto;
    padding: 1%;

}

#tele {
    display: flex;
    flex-direction: row;
    width: 11%;
    text-align: center;
}

#lokation {
    display: flex;
    flex-direction: row;
    width: 12%;
    text-align: center;
}


/*footer*/

footer {
    background-color: #804844;
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
    justify-content: space-around;
    align-content: center;

}

main {
    margin-bottom: 100px;
}

footer div {
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;

}

/*nav*/
nav {
    background-color: #804844;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    z-index: 5;


}

nav a {
    color: #fdf4e6;
}


nav a {
    text-align: center;
    justify-content: space-around;
    margin: auto;
    text-decoration: none;
    color: #fdf4e6;
    height: 80%;
    width: 15%;
    z-index: 2;
    font-size: 1em;

}


/* om os underside style */

.leifprofil {
    width: 100%;
    padding: 2% 4%;
}

.omosflex {

    display: flex;
    flex-direction: row;
}

#omossoloet {
    display: none;
}

.jubileum {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 5% 0px 2.5% 0px;
}

.omoscitat {
    font-size: 2.5vh;
}

main {
    margin-bottom: 100px;
}

.forsideind {
    margin-bottom: 100px;
}

/* Til vores mobil version */

@media only screen and (max-width: 700px) {
	
	
	
    .merelap {
        display: none;
    }

    footer {
        display: none;

    }

    .headnav {
        display: none
    }

    nav a {
        font-size: 4vw;
    }

    .telelaptop,
    .pinlaptop {
        display: none;
    }

    .dropcontent {
        bottom: 80px;

    }

	.laptop{
		display: none;
	}


   
}



/*laptop version) */
@media only screen and (min-width: 700px) {

    /*header*/
    header {
        background-color: #804844;

    }

    .logo {
        width: 15%;

    }

    #tele {
        display: none;
    }

    #lokation {
        display: none;

    }

    /*nav*/
    nav {
        background-color: transparent;
        position: initial;
        bottom: 0;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        overflow: visible;
        margin-top: 0;

    }


    nav a {
        text-align: center;
        justify-content: center;
        margin: auto;
        text-decoration: none;
        color: #fdf4e6;
        height: 100%;
        width: 20%;
        z-index: 20;

    }

    header {
        height: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: -2;
    }

    .mobil {
        display: none;
    }

    nav a{
        color: #fdf4e6;

    }

    .mere {
        margin: auto;
    }

    .merelap h1 {
        text-align: center;
    }

    nav a,
    .merelap {
        font-size: 2vw;
        margin: auto;
        text-align: center;
    }

    .dropbtn {
        color: #fdf4e6;
    }

    .kurvlap {
        order: 2;
    }

    .kurvlap img {
        width: 30%
    }

    .dropdown {
        text-align: center;
    }


    .dropcontent {
        width: 200px;

    }

    .dropcontent a {
        margin: 20px 0px;
    }


    /* Forside laptop syling */
    .video {
        display: none;
    }

    .videolap {
        display: block;
        width: 60%;
        margin: 0 auto;
    }

    .forsidepics {
        margin: auto;
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .forsidepics img {
        width: 30%;
        padding: 10px;
        background-color: #804844;
    }

    .laptopikoner {
        background-color: #626f47;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .laptopikoner a {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .koedikonlaptop,
    .menuikonlaptop,
    .selskabikonlaptop,
    .jubileumikonlaptop {
        display: block;
        width: 40%;
    }



    .laptopikoner a {
		margin: auto;
		text-align: center;
        color: #faebd7;
        font-size: 2vh;
    }


    /* alle gule knapper */

    .knapperne {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        justify-content: space-around;
    }

    .frem {

        font-size: 150%;
    }

    .tilbage {

        font-size: 150%;
    }

    /*footer*/

    footer {
        background-color: #804844;
        display: flex;
        width: 100%;
        height: 125px;

        align-items: center;
        position: relative;
        justify-content: space-between;
        align-content: center;
    }

    .telemobil,
    .pinmobil {
        display: none;
    }

    /* om os underside style laptop */
    .leifprofil {
        width: 42%;
        margin: 2% 0px 2% 55%;
    }

    .omostxt {
        margin: 4% 55% 0px 0px;
    }

    #omossoloet {
        display: block;
    }

    #omossoloto {
        display: none;
    }


    .jubileum {
        width: 30%;
    }

    .jubileumtxt {
        margin: 0.2% 30%;
    }



    .fotdiv {
        display: flex;
        align-content: center;
        align-items: center;
        margin: auto;
        width: 7%;

    }

    .fotdiv h1 {
        font-family: 'Vast Shadow', cursive;
        color: #fdf4e6;
        font-size: 1.5vw;

    }

    /* kontakt */

	.flexkasse{
		display: flex;
		justify-content: space-between;
	}
	
	.kontaktsted{
		width:50%;
	}
	
	.ugensdage{
		margin: 0 auto;
	}
   
 
    
}
