/*EN KOMMENTAR SER SÅDAN HER UD*/

* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdf4e6;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.knap {
    font-family: 'Vast Shadow', cursive;
}

* {
    font-family: 'Roboto Slab', serif;
}

p {

    font-family: 'Libre Franklin', sans-serif;
    padding: 0px 20px;
}

h1 h2 h3 h4 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: #804844;
    text-align: center;
}

h2 {
    color: #804844;
    text-align: center;
}


.video {

    width: 100%;

}

.vidcontain {
    position: relative;
    margin: auto;
    margin: 25px 0px;
}

.playknap {
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;

}

.pauseknap {
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
}

.gem {
    display: none;
}

.vis {
    display: inline;
}

.knap2 {
    border: none;
    background-color: #fec312;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    margin: auto;
    cursor: pointer;
    border-radius: 50px
}

.knap1 {
    box-shadow: 3px 3px lightgrey;

}

.knap1:hover {
    background-color: #fec312;
    color: white;
    opacity: 70%;
}

.forsideind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	width: 80%;
	margin: auto;
}

/*menukort*/

.flex-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menupunkt {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    background-image: url("/images/tree.png");
    background-size: cover;
    position: relative;
}

/* images/tree.png <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by kbza - www.freepik.com</a> */

.menupunkt h3 {

    font-size: 4vw;
    padding-left: 3%;
    padding-top: 1%;
}

h3 {
    color: #fff;
}

.knapperne {

    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}

.button {
    border: none;
    width: 180px;
    background-color: #fec312;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    margin: auto;
    cursor: pointer;
    border-radius: 50px
}

.frem {
    box-shadow: 3px 3px lightgrey;
}

.tilbage {
    box-shadow: 3px 3px lightgrey;
}

.knap1:hover {
    background-color: #fec312;
    color: white;
    opacity: 70%;
}

/* alt mad */

.mad {

    width: 50%;
    padding-left: 3%
}

.pris {

    color: #fff;
    position: absolute;
    right: 0%;
    top: 5%;
    font-size: 4.3vw;
    font-family: 'Roboto Slab', serif;
}

/* Underside - om kødet */

.flex {
    display: flex;
    flex-direction: row;
}

.flexbox-parent {
    display: flex;
    flex-direction: column;
}

.garanti {
    width: 45%;
}

.udskaering {
    width: 45%;
    margin-right: 5%;
}


/* Kurv */

.flex-container2 {
    width: 80%;
    margin: auto;
    background-size: cover;
    display: flex;
    background-image: url("/images/tree.png");
}

.kurven {
    margin-bottom: 10px;
    padding: 10%;
}


.current {
    background-color: #fdf4e6;

}

/*dopup lavet med inspiration fra:https://www.w3schools.com/howto/howto_js_dropdown.asp*/
/* drop up knap */
.dropbtn {
    background-color: transparent;
    border: none;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    width: 20%;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropcontent {
    display: none;
    position: absolute;
    bottom: 70px;
    right: 0px;
    background-color: #804844;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 60;
}

/* Links inside the dropdown */
.dropcontent a {
    color: #fdf4e6;
    text-decoration: none;
    display: block;
}

.dropcontent h1 {
    color: #fdf4e6;
    text-align: left;
    margin-right: 20%
}

.dropcontent a {
    text-align: center;
    width: 70%;

}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #804844;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}





/*header*/
header {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    z-index: -2;
}

.logo {
    width: 50%;
    margin-right: auto;
	padding: 1%;

}

#tele {
    display: flex;
    flex-direction: row;
    width: 11%;
    text-align: center;
}

#lokation {
    display: flex;
    flex-direction: row;
    width: 12%;
    text-align: center;
}


/*footer*/

footer {
    background-color: #804844;
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
    justify-content: space-around;
    align-content: center;

}

footer div {
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;

}

/*nav*/
nav {
    background-color: #804844;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    margin-top: auto;

}


nav a {
    text-align: center;
    justify-content: space-around;
    margin: auto;
    text-decoration: none;
    color: #fdf4e6;
    height: 80%;
    width: 15%;
    z-index: 20;
    font-size: 1em;

}




@media only screen and (max-width: 700px) {
	footer{
		display: none;
		
	}	
	
	.headnav{
		display: none
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 700px) {
	
	
		/*header*/
header {
 background-color: #804844;
	
}

	.logo{
		width: 20%;
		
	}


#tele {
display: none;
}

#lokation {
	display: none;

}

	nav{
		display: none;
	}
	
	
	
	/*footer*/

footer {
    background-color: #804844;
    display: flex;
	width: 100%;
	height: auto;
	align-items: center;
    position: relative;
    justify-content: space-between;
    align-content: center;
	
	


}

	.fotdiv{
		display: flex;
		align-content: center;
		align-items: center;
		margin: auto;
		width:7%;

	
		
	}
	
	.fotdiv h1{
		 font-family: 'Vast Shadow', cursive;
		color: #fdf4e6;
		font-size: 1.5vw;
		
		
	}
}


