/*EN KOMMENTAR SER SÅDAN HER UD*/

* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdf4e6;

}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.knap {
    font-family: 'Vast Shadow', cursive;
}

* {
    font-family: 'Roboto Slab', serif;
}

p {

    font-family: 'Libre Franklin', sans-serif;
    padding: 0px 20px;
}

h1 h2 h3 h4 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: #804844;
    text-align: center;
}

h2 {
    color: #804844;
    text-align: center;
}


.video {

    width: 100%;

}

.vidcontain {
    position: relative;
    margin: auto;
    margin: 25px 0px;
    z-index: -1;
}

.playknap {
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;

}

.pauseknap {
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
}

.gem {
    display: none;
}

.vis {
    display: inline;
}

.knap2 {
    border: none;
    background-color: #fec312;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    margin: auto;
    cursor: pointer;
    border-radius: 50px
}

.knap1 {
    box-shadow: 3px 3px lightgrey;

}

.knap1:hover {
    background-color: #fec312;
    color: white;
    opacity: 70%;
}

.forsideind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

/*Breadcrumb*/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
    color: #804844;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: #804844;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #804844;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #fec312;
    text-decoration: none;


}


/* Kontakt underside */

.ugensdage {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 65%;
    left: 1, 5%;
    color: #804844;
    padding-bottom: 5%;
    z-index: -1;

}

.todaysDay {
    color: #6754f5;
}

h5 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 85%;
    padding-left: 3%;
    margin: 1%;
    color: #804844;
    padding-bottom: 1%
}

/*menukort*/

.flex-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menupunkt {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    background-image: url("/images/tree.png");
    background-size: cover;
    position: relative;
    z-index: -1;
}

/* images/tree.png <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by kbza - www.freepik.com</a> */

.menupunkt h3 {

    font-size: 4vw;
    padding-left: 3%;
    padding-top: 1%;

}

h3 {
    color: #fff;
}

.knapperne {

    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}

.button {
    border: none;
    width: 180px;
    background-color: #fec312;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    margin: auto;
    cursor: pointer;
    border-radius: 50px
}

.frem {
    box-shadow: 3px 3px lightgrey;
}

.tilbage {
    box-shadow: 3px 3px lightgrey;
}

.knap1:hover {
    background-color: #fec312;
    color: white;
    opacity: 70%;
}

/* alt mad */

.mad {

    width: 50%;
    padding-left: 3%
}

.afhent {

    width: 18%;
    position: absolute;
    left: 35%;
    bottom: 5%;
}

.pris {

    color: #fff;
    position: absolute;
    right: 0%;
    top: 5%;
    font-size: 4.3vw;
    font-family: 'Roboto Slab', serif;
}

/* Underside - om kødet */

.flex {
    display: flex;
    flex-direction: row;
}

.flexbox-parent {
    display: flex;
    flex-direction: column;
}

.garanti {
    width: 45%;
}


/* Kurv */

.flex-container2 {
    width: 80%;
    margin: auto;
    background-size: cover;
    display: flex;
    background-image: url("/images/tree.png");
}

.kurven {
    margin-bottom: 10px;
    padding: 10%;
}

.current {
    background-color: #fdf4e6;

}

/*dopup lavet med inspiration fra:https://www.w3schools.com/howto/howto_js_dropdown.asp*/
/* drop up knap */
.dropbtn {
    background-color: transparent;
    border: none;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    width: 20%;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropcontent {
    display: none;
    position: absolute;
    bottom: 80px;
    right: 0px;
    background-color: #fdf4e6;
    min-width: 160px;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 60;
}

/* Links inside the dropdown */
.dropcontent a {
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
}

.dropcontent h1 {
    color: #804844;
    text-align: center;
    margin: 5% 10%;
}

/* Change color of dropdown links on hover */
.dropcontent a:hover {
    background-color: #804844;
}

/* Change color of dropdown links on hover */
.dropcontent h1:hover {
    color: #fdf4e6;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* plus og minus knapper */

.myform {
    position: absolute;
    top: 40%;
    right: 3%;

}

.qty {
    width: 25px;
    height: 25px;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 100%;
    background-color: transparent
}


input.qtyplus {
    width: 25px;
    color: #804844;
    height: 25px;
    border: 1px solid #aaa;
    background: #fdf4e6;
    border-radius: 50%;
    font-size: 100%;
}

input.qtyminus {
    color: #804844;
    width: 25px;
    height: 25px;
    border: 1px solid #aaa;
    font-size: 100%;
    background: #fdf4e6;
    border-radius: 50%;
}

/*header*/
header {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    z-index: -2;
}

.logo {
    width: 50%;
    margin-right: auto;
    padding: 1%;

}

#tele {
    display: flex;
    flex-direction: row;
    width: 11%;
    text-align: center;
}

#lokation {
    display: flex;
    flex-direction: row;
    width: 12%;
    text-align: center;
}


/*footer*/

footer {
    background-color: #804844;
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
    justify-content: space-around;
    align-content: center;

}

main {
    margin-bottom: 100px;
}

footer div {
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;

}

/*nav*/
nav {
    background-color: #804844;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;


}

nav h1 {
    color: #fdf4e6;
}


nav a {
    text-align: center;
    justify-content: space-around;
    margin: auto;
    text-decoration: none;
    color: #fdf4e6;
    height: 80%;
    width: 15%;
    z-index: 2;
    font-size: 1em;

}

/* om os underside style */

/* om os underside style */

.leifprofil {
    width: 100%;
    padding: 2% 4%;
}

.omosflex {

    display: flex;
    flex-direction: row;
}

#omossoloet {
    display: none;
}

.jubileum {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 5% 0px 2.5% 0px;
}

.omoscitat {
    font-size: 2.5vh;
}

main {
    margin-bottom: 100px;
}

.forsideind {
    margin-bottom: 100px;
}

@media only screen and (max-width: 700px) {
    .merelap {
        display: none;
    }

    footer {
        display: none;

    }

    .headnav {
        display: none
    }

    nav h1 {
        font-size: 4vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 700px) {


    /*header*/
    header {
        background-color: #804844;

    }

    .logo {
        width: 15%;

    }


    #tele {
        display: none;
    }

    #lokation {
        display: none;

    }



    /*nav*/
    nav {
        background-color: transparent;
        position: initial;
        bottom: 0;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        overflow: visible;
        margin-top: 0;

    }


    nav a {
        text-align: center;
        justify-content: center;
        margin: auto;
        text-decoration: none;
        color: #fdf4e6;
        height: 100%;
        width: 20%;
        z-index: 20;

    }

    header {
        height: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: -2;
    }

    .mobil {
        display: none;
    }

    nav h1 {
        color: #fdf4e6;

    }

    .mere {
        margin: auto;
    }

    .merelap h1 {
        text-align: center;
    }

    nav h1,
    .merelap {
        font-size: 2vw;
        margin: auto;
        text-align: center;
    }

    .dropbtn h1 {
        color: #fdf4e6;
    }

    .kurvlap {
        order: 2;
    }

    .kurvlap img {
        width: 30%
    }

    .dropdown {
        text-align: center;
    }




    /*footer*/

    footer {
        background-color: #804844;
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        position: relative;
        justify-content: space-between;
        align-content: center;
    }

    /* om os underside style laptop */
    .leifprofil {
        width: 42%;
        margin: 2% 0px 2% 55%;
    }

    .omostxt {
        margin: 4% 55% 0px 0px;
    }

    #omossoloet {
        display: block;
    }

    #omossoloto {
        display: none;
    }


    .jubileum {
        width: 30%;
    }

    .jubileumtxt {
        margin: 0.2% 30%;
    }



}

.fotdiv {
    display: flex;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 7%;



}

.fotdiv h1 {
    font-family: 'Vast Shadow', cursive;
    color: #fdf4e6;
    font-size: 1.5vw;


}
}
